<!doctype html>
<html>
    <head>
        <title>Data</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src={{ url_for('static', filename='js/main.js') }}></script>
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} />
    </head>
<body>
    <div class="wrapperDiv">
        <br />
        Something went wrong gathering data! Please hit 'back' button and try again (and/or find a scouting mentor)
        <br />
        <button class="send" onclick="document.location='/'">SCOUT AGAIN!</button>
        
    </div>
</body>
</html>

