{% extends "base_admin.html" %}
{% block content %}

    <h3>All Match Data Ever Recorded</h3>
    <table>
        <thead>
            <tr>
                <th>Record ID</th>
                <th>Event ID</th>
                <th>Match Number</th>
                <th>Team Number</th>
                <th>Auto Fuel Score</th>
                <th>Auto Climb Attempt</th>
                <th>Auto Climbed</th>
                <th>Auto Traveled</th>
                <th>Teleop Fuel Score</th>
                <th>Teleop Traveled</th>
                <th>Endgame Climb Attempt</th>
                <th>Endgame Climb Level</th>
                <th>Strategy Active Scored</th>
                <th>Strategy Active Ferrying</th>
                <th>Strategy Active Defense</th>
                <th>Strategy Inactive Scored</th>
                <th>Strategy Inactive Ferrying</th>
                <th>Strategy Inactive Defense</th>
                <th>Defense Actions Count</th>
                <th>Match Fouls</th>
                <th>Match Carded</th>
                <th>Match Tipped</th>
                <th>Match Beached</th>
                <th>Match Broke</th>
                <th>Match Disabled</th>
                <th>Match Absent</th>
                <th>Calc Auto Score</th>
                <th>Calc Teleop Score</th>
                <th>Scouter IP Address</th>
                <th>Hidden from reports?</th>
                <th>Needs To Be Hidden</th>
            </tr>
        </thead>
        <tbody>
            {% for record in match_data %}
            <tr>
                <td>
                    <strong>
                        <a href="/admin/data_adjustments?record={{record.record_id}}">
                        {{ record.record_id }}
                        </a>
                    </strong>
                </td>
                <td>{{ record.event_id }}</td>
                <td>{{ record.match_number }}</td>
                <td>{{ record.team_number }}</td>
                <td>
                    {% if record.auto_fuel_score is not none %}
                        {{ record.auto_fuel_score }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.auto_climb_try is not none %}
                        {{ record.auto_climb_try }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.auto_climbed is not none %}
                        {{ record.auto_climbed }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.auto_traveled is not none %}
                        {{ record.auto_traveled }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.teleop_fuel_score is not none %}
                        {{ record.teleop_fuel_score }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.teleop_traveled is not none %}
                        {{ record.teleop_traveled }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.endgame_climb_try is not none %}
                        {{ record.endgame_climb_try }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.endgame_climb_level is not none %}
                        {{ record.endgame_climb_level }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.strategy_active_scored is not none %}
                        {{ record.strategy_active_scored }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.strategy_active_ferrying is not none %}
                        {{ record.strategy_active_ferrying }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.strategy_active_defense is not none %}
                        {{ record.strategy_active_defense }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.strategy_inactive_scored is not none %}
                        {{ record.strategy_inactive_scored }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.strategy_inactive_ferrying is not none %}
                        {{ record.strategy_inactive_ferrying }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.strategy_inactive_defense is not none %}
                        {{ record.strategy_inactive_defense }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.strategy_defense_actions is not none %}
                        {{ record.strategy_defense_actions }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.match_fouls is not none %}
                        {{ record.match_fouls }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.match_card is not none %}
                        {{ record.match_card }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.match_tipped is not none %}
                        {{ record.match_tipped }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.match_beached is not none %}
                        {{ record.match_beached }}
                    {% else %} -- {% endif %}
                <td>
                    {% if record.match_broke is not none %}
                        {{ record.match_broke }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.match_disabled is not none %}
                        {{ record.match_disabled }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.match_absent is not none %}
                        {{ record.match_absent }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.calc_auto_score is not none %}
                        {{ record.calc_auto_score }}
                    {% else %} -- {% endif %}
                </td>
                <td>{% if record.calc_teleop_score is not none %}
                        {{ record.calc_teleop_score }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    {% if record.record_ip_address is not none %}
                        {{ record.record_ip_address }}
                    {% else %} -- {% endif %}
                </td>
                <td>{% if record.record_hidden is not none %}
                        {{ record.record_hidden }}
                    {% else %} -- {% endif %}
                </td>
                <td>
                    <a href="/admin/hide?record={{record.record_id}}">
                        {% if record.record_hidden %}Show
                        {% else %}Hide
                        {% endif %}Please
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr />
{% endblock %}