{% extends "base.html" %}
{% block content %}
    <script src="/static/js/sorttable.js"></script>
    <script src="/static/js/picklist.js"></script>
    <h1>Pick List</h1>

    <p>Select the add button by a team to add them to your pick list.</p>

    <p>Select the team number below to go to a detail page describing performance during {{ active_event_name }}.</p>

    <p>Click on column header to sort that column (e.g. "Average Total Fuel") instead of the default sorting of Team Number.</p>

    <h2>Picked Teams</h2>
    <table id="picked-teams">
            <tr>
                <th>Team Number</th>
                <th>Team Name</th>
                <th>Matches Scouted</th>
                <th>Avg Total Fuel</th>
                <th>Est Avg Human Fuel</th>
                <th>TBA Ranking</th>
                <th>TBA OPR</th>
                <th>TBA DPR</th>
                <th>TBA CCWM</th>
                {# <th>Statbotics EPA</th> #}
            </tr>

            {% for team in pickedteams %}
            <tr>
                <td>
                    <a href="/report/team?number={{team}}">
                    {{ team }}
                    </a>
                </td>
                <td>
                    {{ team_stats[team]['team_name'] }}
                </td>
                <td>
                    {{ team_stats[team]['match_count'] }}
                </td>
                <td>
                    {{ team_stats[team]['avg_fuel'] }}
                </td>
                <td>
                    {{ team_stats[team]['avg_human'] }}
                </td>
                <td>
                    {{ team_stats[team]['tba_rank'] }}
                </td>
                <td>
                    {{ team_stats[team]['opr'] }}
                </td>
                <td>
                    {{ team_stats[team]['dpr'] }}
                </td>
                <td>
                    {{ team_stats[team]['ccwm'] }}
                </td>
                {# <td>
                    {{ team_stats[team]['epa'] }}
                </td> #}
                <td>
                    <button class="remove-btn" data-team="{{ team }}">Remove</button>
                </td>
            </tr>
            {% endfor %}
            
    </table>

    <h2>Available Teams</h2>

    <table class="sortable">
        <tr>
            <th>Team Number</th>
            <th>Team Name</th>
            <th>Matches Scouted</th>
            <th>Avg Total Fuel</th>
            <th>Est Avg Human Fuel</th>
            <th>TBA Ranking</th>
            <th>TBA OPR</th>
            <th>TBA DPR</th>
            <th>TBA CCWM</th>
            {# <th>Statbotics EPA</th> #}
        </tr>

        {% for team in team_stats %}
        <tr>
            <td>
                <a href="/report/team?number={{team}}">
                {{ team }}
                </a>
            </td>
            <td>
                {{ team_stats[team]['team_name'] }}
            </td>
            <td>
                {{ team_stats[team]['match_count'] }}
            </td>
            <td>
                {{ team_stats[team]['avg_fuel'] }}
            </td>
            <td>
                {{ team_stats[team]['avg_human'] }}
            </td>
            <td>
                {{ team_stats[team]['tba_rank'] }}
            </td>
            <td>
                {{ team_stats[team]['opr'] }}
            </td>
            <td>
                {{ team_stats[team]['dpr'] }}
            </td>
            <td>
                {{ team_stats[team]['ccwm'] }}
            </td>
            {# <td>
                {{ team_stats[team]['epa'] }}
            </td> #}
            <td>
                <button class="add-btn" data-team="{{ team }}">Add</button>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}