{% extends "base.html" %}
{% block content %}
    <h1>How To Scout</h1>

    <div class="menuHorizontalDiv">
        <a href="/info/" class="menuLink">General Info</a>
        <br />
        <a href="/info/dictionary" class="menuLink">FRC Scouting Dictionary</a>
        <br />
        <a href="/info/how-to-scout" class="menuLink">Scouting Instructions</a>
    </div>

    <h3>General Information</h3>

    <p>The goal of the Scouting Alliance is to make a pool of shared data available for all South Carolina teams to use in their strategic planning and alliance selection. Please do your best to focus on your assigned robot and record the data accurately and completely.</p>

    <p>We know that especially in the season 2026 there may be lots of fast action and robots shooting more fuel than you can track. The goal is to be as good as possible, not to be perfect! Even if you counted 80 fuel shots and the robot actually shot 83, your best estimate is much better than no data at all.</p>

    <p>When you take a shift as a Scouting Alliance scouter, remember that Gracious Professionalism applies and record data accurately for all teams. We also pull data from the FIRST scoring API, and we'll notice if your team's robot didn't actually score 10,000 points in a round...</p>

    <h3>Scouting during Auto</h3>
    <p>During the autonomous period, we are interested in three things.</p>

    <h4>How much <strong>fuel was scored</strong>?</h4>
    <p>Count the fuel actually scored in the hub. If a robot shoots but misses, that shot does not count.</p>

    <h4>Did the robot <strong>attempt to climb</strong>?</h4>
    <p>Select <strong>attempted</strong> if the robot tried to climb, whether or not it made it. We will pull successful climb data from the FIRST API.</p>

    <h4>Where did the robot travel?</h4>
    <p>If the robot drove around in the alliance zone or traveled to the neutral zone, please record that information. If it does not move, leave the selection at "no motion."</p>

    <h3>Scouting during Teleop and Endgame</h3>
    <p>During the teleop period, we are still watching the same things...</p>

    <h4>How much <strong>fuel was scored</strong>?</h4>
    <p>Count the fuel actually scored in the hub. If a robot shoots but misses, that shot does not count.</p>

    <h4>Did the robot <strong>attempt to climb</strong>?</h4>
    <p>Select <strong>attempted</strong> if the robot tried to climb, whether or not it made it. We will pull successful climb data from the FIRST API.</p>

    <h4>Where did the robot travel?</h4>
    <p>Record the furthest distance the robot traveled during the match: opposing alliance zone, neutral zone, or its own alliance zone. If it does not move, leave the selection at "no motion."</p>

    <h3>Scouting Robot Issues</h3>
    <p>The last section of the page is not commonly used, but notes any issues with the robot's performance over the whole match.</p>

    <h4>Tipped?</h4>
    <p>Did the robot tip over during the match? If so, select this checkbox.</p>

    <h4>Broken?</h4>
    <p>Did the robot lose parts or break, partially or fully, during the match? If so, select this checkbox.</p>

    <h4>Red or Yellow Card?</h4>
    <p>Did the team receive a red or yellow card for robot actions? If so, select this checkbox.</p>

    <h4>Disabled? (A-Stop or E-Stop)</h4>
    <p>Was the robot disabled during the match, either by an A-Stop or E-Stop? If so, select this checkbox.</p>

    <h4>Absent from Field?</h4>
    <p>Did the robot show up to play? If not, select this checkbox.</p>
{% endblock %}