{% extends "base.html" %}
{% block content %}
    <h1>About the Scouting Alliance</h1>

    <div class="menuHorizontalDiv">
        <a href="/info/" class="menuLink">General Info</a>
        <br />
        <a href="/info/dictionary" class="menuLink">FRC Scouting Dictionary</a>
        <br />
        <a href="/info/how-to-scout" class="menuLink">Scouting Instructions</a>
    </div>

    <h3>Who are we?</h3>
    FIRST Robotics Competition (FRC) teams in South Carolina have formed the Scouting Alliance to collect data on FRC teams and matches to help teams make informed decisions about their strategies and alliances.
    <br />
    Both students and mentors are involved in the Scouting Alliance, and we welcome participation from anyone who is interested in helping with data collection, analysis, or website development.

    <h3>Why was the Scouting Alliance formed?</h3>
    If your team has scouted before, you know how challenging it is to watch every match and keep track of all the important details. At least six students keeping a close eye on a robot, recording all its actions for every match, is a lot to ask for any team.
    <br />
    By combining our efforts and sharing the data we collect, we can all collect data with a much smaller number of scouts per match. Scouters, who are usually students, deserve to enjoy watching matches and cheering on their teams, not just record notes.

    <h3>This is great, but we also want to scout our own stuff!</h3>
    The goal of the Scouting Alliance is shared work to make everyone's scouting easier, not to replace all of the unique and creative scouting that teams do on their own. These data focus on the core details of the match, mostly quantitative data, that the majority of teams will want to know. This frees up teams to watch more for strategy and other qualitative details to identify potential alliance partners that mesh well with their own robot. 
    
    <h4>I have other questions!</h4>
    If you can't find an answer here, please <a href="mailto:mentoralicia3489@gmail.com">reach out to the Scouting Alliance</a> and we'll be happy to help.
{% endblock %}