<!DOCTYPE html>
<html>
    <head>
        <title>FIRST South Carolina Scouting Alliance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='images/apple-touch-icon.png') }}>
        <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='images/favicon-32x32.png') }}>
        <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='images/favicon-16x16.png') }}>
        <link rel="manifest" href={{ url_for('static', filename='images/site.webmanifest') }}>
        <script src={{ url_for('static', filename='js/main.js') }}>
        </script>
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} />
    </head>
<body>
    <div class="wrapperDiv">
        <div class="menuHorizontalDiv">
            <img src={{ url_for('static', filename='images/logo.png') }} alt="FIRST SC Scouting Alliance logo" class="siteLogo" />
            <a href="/" class="menuLink">Home</a>
            |
            <a href="/scout/" class="menuLink">Scout</a> 
            |
            <a href="/report/" class="menuLink">Reports</a> 
            |
            <a href="/info/" class="menuLink">Info</a>
            |
            <a href="/pick-list/" class="menuLink">Pick List</a>
        </div>
        <div class="infoDiv">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>