{% extends "base.html" %}
{% block content %}
    <h1>Welcome to the FIRST South Carolina Scouting Alliance!</h1>
    This is a site for collecting and analyzing data on FRC teams and matches.
    <br />
    <h4>Who are we?</h4>
    FIRST Robotics Competition (FRC) teams in South Carolina have formed the Scouting Alliance to collect data on FRC teams and matches to help teams make informed decisions about their strategies and alliances. All data is freely available to any team that wants to use it.
    <h4>How do I use this tool?</h4>
    Use the "Scout" page to submit data on matches you watch. Use the "Reports" page to view and analyze the data collected.
    <h4>I have questions!</h4>
    If you can't find an answer in the <a href="/info/">Info section</a> of the site, reach out to the Scouting Alliance and we'll be happy to help.
{% endblock %}