<!doctype html>
<html>
    <head>
        <title>FIRST South Carolina Scouting Alliance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src={{ url_for('static', filename='js/main.js') }}></script>
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} />
    </head>
<body>
    <div class="wrapperDiv">
        <br />
        Welcome to the FIRST South Carolina Scouting Alliance!
        <br />
        This is a tool for collecting and analyzing data on FRC teams and matches.
        <br />
        Click below to get started.
        <br />
        <button class="send" onclick="document.location='/scout/'">Collect Data</button>
        <br />
        <button class="send" onclick="document.location='/report/'">View Reports</button>
        <br />
        <button class="send" onclick="document.location='/info/'">FAQ and How-To</button>
        
    </div>
</body>
</html>