{% extends "base.html" %}
{% block content %}
    <h1>FIRST South Carolina Scouting Alliance</h1>
    <p><em>Making data accessible to everyone</em></p>

    <hr />

    <h4>Who are we?</h4>
    <p>
        FIRST Robotics Competition (FRC) teams in South Carolina have
        formed the Scouting Alliance to collect data on FRC teams and
        matches to help teams make informed decisions about their
        strategies and alliances.
    </p>
    <p>
        <strong>All our data is freely available to any team that wants
        to use it!</strong>
    </p>

    <hr />

    <h4>I'm looking for...</h4>
    <ul>
        {% if active_event_id %}
        <li>
            <a href="report/event/{{active_event_id}}" class="bigButton blueButton">
                Active Event Stats
            </a>
        </li>
        {% endif %}
        <li>
            Compiled event statistics (historical):
            <a href="report/">Reports section</a>.
        </li>
        <li>
            SC Charleston Qualifier
            <a href="https://docs.google.com/spreadsheets/d/10dh-e7bvZhVHxfObyJM3K90W9t6DiMH-01LyOUVFmJ4/edit?usp=sharing">a
            summary page with supporting stats</a>
        </li>
        <!-- <li>We've also got <a href="https://docs.google.com/spreadsheets/d/12JMm7Sw8NQbkUSKZ3bwrXUm5kI6eCN0zNNkjtomF9Cc/edit?usp=sharing">Pit Scouting data</a> to quickly reference team robot construction and capabilities.</p></li> -->
    </ul>

    <h4>I have questions...</h4>
    <ul>
        <li>
            <a href="/info/">Info Pages</a>
        </li>
        <li>
            <strong><a href="https://discord.gg/AUd47mWZJ">Join our Discord
            server!</a></strong>
        </li>
        <li>
            <a href="mailto:fsc.scouting@gmail.com">Email the Scouting
            Alliance</a> with questions
        </li>
    </ul>


    <h4>I have feedback...</h4>
    <ul>
        <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdosTJAeNMTb-AZPDzB2jhbyN3t036t_qRdgBWgMg6gIOBQcQ/viewform?pli=1&chromeless=1&pli=1" target="_blank">
                Scouting Alliance website feedback & suggestions
            </a>
        </li>
        <li>
            <a href="https://forms.gle/aekbWGKtoqZvMy657" target="_blank">
                Event Feedback
            </a>
        </li>
    </ul>
    <img src="static/images/QR_FSC_Data_Feedback.png" width="200"/>
{% endblock %}